{% extends 'base.html' %}
{% block 'head' %} 
<style></style>
{% endblock %}
{% block 'title' %}Home{% endblock %}

{% block 'conteudo' %}

<div class="container">
  <br>
  {% if status_categoria == '1' %}
  <div class="alert alert-success" role="alert">
    Categoria registada com sucesso!
  </div>
  {% endif %}

  {% if status_livro == '1' %}
  <div class="alert alert-success" role="alert">
    Livro registado com sucesso!
  </div>
  {% endif %}

  {% if status_emprestimo == '1' %}
  <div class="alert alert-success" role="alert">
    Emprestimo registado com sucesso!
  </div>
  {% endif %}

  {% if status_devolucao == '1' %}
  <div class="alert alert-success" role="alert">
    Devolvido com sucesso!
  </div>
  {% endif %}

  <!-- Modal que aparece após clicar no botão 'Registar'
  {% if utilizador_autenticado %} 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->


          <div class="modal-body">
            {% for livro in Livros_emprestar %}
              <form id="form_emprestimo" action="{% url 'registar_emprestimo' %}" method="POST">
                {% csrf_token %}
                <select style="display: none;" id="nome_emprestado" class="form-control" name="nome_emprestado">
                    {% for utilizador in utilizadores %}
                    <option value="{{utilizador.id}}">{{utilizador.nome}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="hidden" name="utilizador" value="{{utilizador_autenticado}}">
                <Input class="btn btn-success" type="submit" value="Enviar">
              </form>          
            {% endfor %}
          </div>


    <div class="row" style="display: flex; flex-wrap: wrap;">

            {% for livro in livros %}
            <div class="col-md-3 d-flex align-items-stretch"> <!-- define o tamanho da coluna (4 colunas por linha num grid de 12 colunas) -->
                <div class="card" style="width: 100%; border: 1px solid #b8a9a9; border-radius: 5px; padding: 10px; margin-bottom: 20px; min-height: 350px;">
                  <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    {% if livro.img %}
                    <img width="70%" style="margin: 0 auto;" src="{{livro.img.url}}" alt="{{livro.nome}}">
                    {% else %}
                    <img width="70%" style="margin: 0 auto;" src="/static/images/jardimlivro.jpg" alt="{{livro.nome}}">
                    {% endif %}
                    <br><br>
                    
                    <h5 class="card-title" style="text-align: center;">{{livro.nome}}</h5>
                    <br>
                    <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Emprestado: </h6>
                    {% if livro.emprestado %}
                    <svg style="color: green" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                    </svg>
                    {% else %}
                      <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                      </svg>
                    {% endif %}
                      <br><br>
                    <a href="{% url 'ver_livro' livro.id %}" class="btn btn-info">Consultar</a> <!--link dinâmico para ver detalhes do livro-->
                  </div>
                </div>
            </div>
            <br><br>
            {% endfor %}
            <br>
        </div>    
    </div>
  </div>
{% endif %} 
{% endblock %}
 






